# Kata 9
## Ejemplos

In [8]:
from datetime import timedelta, datetime

def arrival_time(hours=51):
    now = datetime.now()
    arrival = now + timedelta(hours=hours)
    return arrival.strftime('Arrival: %A %H:%M')

arrival_time(hours=0)

'Arrival: Friday 02:57'

In [12]:
from datetime import timedelta, datetime

def arrival_time(destination, hours=51):
    now = datetime.now()
    arrival = now + timedelta(hours=hours)
    return arrival.strftime(f'{destination} Arrival: %A %H:%M')

arrival_time('Moon')

'Moon Arrival: Sunday 06:00'

In [15]:
def variable_length(*args):
    print(args)
variable_length()
variable_length('one', 'two')
('one', 'two')
variable_length(None)
(None,)

()
('one', 'two')
(None,)

(None,)

In [20]:
def sequence_time(*args):
    total_minutes = sum(args)
    if total_minutes < 60:
        return f'Total time to launch is {total_minutes} minutes'
    else:
        return f'Total time to launch is {total_minutes/60} hours'
sequence_time(14, 18)
sequence_time(4, 14, 48)

'Total time to launch is 1.1 hours'

In [21]:
def crew_members(**kwargs):
    print(f'{len(kwargs)} astronauts assigned for this mission:')
    for title, name in kwargs.items():
        print(f'{title}: {name}')
crew_members(captain='Neil Armstrong', pilot='Buzz Aldrin', command_pilot='Michael Collins')

3 astronauts assigned for this mission:
captain: Neil Armstrong
pilot: Buzz Aldrin
command_pilot: Michael Collins

## Ejercicio 1

In [25]:
def tank_lecture(tank1, tank2, tank3):
    avg = abs(tank1) + abs(tank2) + abs(tank3)
    avg = avg / 3
    return f'Tank 1 is {tank1}L,\nTank 2 is {tank2}L.\nTank3 is {tank3}L\nThe average of gas in the tanks is {avg}L'

print(tank_lecture(1,2,3))

Tank 1 is 1L,
Tank 2 is 2L.
Tank3 is 3L
The average of gas in the tanks is 2.0L

In [27]:
def average(values):
    total = sum(values)
    return total / len(values)

In [28]:
def tank_lecture(tank1, tank2, tank3):
    avg = average([tank1,tank2,tank3])
    return f'Tank 1 is {tank1}L,\nTank 2 is {tank2}L.\nTank3 is {tank3}L\nThe average of gas in the tanks is {avg}L'

print(tank_lecture(1,2,3))

Tank 1 is 1L,
Tank 2 is 2L.
Tank3 is 3L
The average of gas in the tanks is 2.0L

## Ejercicio 2

In [30]:
def report(timeToArrive,leftFuel,destinyName):
    return f"""
    Time to arrive = {timeToArrive}mins
    leftFuel = {leftFuel}L
    Destiny name = {destinyName}
    """
print(report(23,223,'Mars'))

    Time to arrive = 23m
    leftFuel = 223L
    Destiny name = Mars

In [31]:
def report(destinyName,*time,**tanks):
    return f"""
    Destiny = {destinyName}
    Total travel time = {sum(time)}mins
    Total fuel Left = {sum(tanks.values())}
    """
print(report('Jupyter',12,11,1090,tank1=121313,tank2=321311))

    Destiny = Jupyter
    Total travel time = 1113mins
    Total fuel Left = 442624

In [35]:
def report(destinyName,*time,**tanks):
    rprt = f"""
    Destiny = {destinyName}
    Total travel time = {sum(time)}mins
    Total fuel Left = {sum(tanks.values())}
    """
    for tank, litres in tanks.items():
        rprt = rprt + f"{tank} is {litres} litres\n"
    return rprt
print(report('Jupyter',12,11,1090,tank1=121313,tank2=321311))

    Destiny = Jupyter
    Total travel time = 1113mins
    Total fuel Left = 442624
    tank1 is 121313 litres
tank2 is 321311 litres